<ng-container *transloco="let t; read: 'xxx-main'">
  <mat-sidenav-container style="height: 100%">
    <mat-sidenav
      #sidenav
      style="width: 240px"
      [attr.role]="isSmallViewport ? 'dialog' : 'navigation'"
      [mode]="isSmallViewport ? 'over' : 'side'"
      [opened]="!isSmallViewport"
    >
      <mat-toolbar style="background: inherit">{{ appName }}</mat-toolbar>
      <mat-nav-list [attr.aria-label]="t('navigation-menu')">
        @for (page of pages; track page.url) {
          <a
            [activated]="activeUrl === page.url"
            mat-list-item
            [routerLink]="page.url"
          >
            <mat-icon matListItemIcon>{{ page.icon }}</mat-icon>
            {{ page.name }}
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar
        style="
          background: inherit;
          padding: 0 calc(env(safe-area-inset-right) + 16px) 0
            calc(env(safe-area-inset-left) + 16px);
        "
        role="heading"
      >
        @if (loaderConfiguration$ | async; as loaderConfiguration) {
          <mat-progress-bar
            style="position: absolute; top: 0; left: 0; right: 0"
            color="primary"
            aria-hidden="true"
            [ngStyle]="{
              visibility: loaderConfiguration.isVisible ? 'visible' : 'hidden'
            }"
            [mode]="loaderConfiguration.mode"
            [value]="loaderConfiguration.value"
            [bufferValue]="loaderConfiguration.bufferValue"
          >
          </mat-progress-bar>
        }
        <!-- @if (!isSmallViewport) { -->
        <button
          type="button"
          [matTooltip]="t('navigation-menu')"
          [attr.aria-label]="t('navigation-menu')"
          mat-icon-button
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <!-- } -->
        <div style="flex: 1"></div>
        <xxx-language-menu />
      </mat-toolbar>
      <mat-tab-nav-panel #tabNavPanel>
        <router-outlet />
      </mat-tab-nav-panel>
      @if (isSmallViewport) {
        <nav
          backgroundColor="primary"
          [attr.aria-label]="t('navigation-menu')"
          mat-tab-nav-bar
          [tabPanel]="tabNavPanel"
          style="bottom: 0; position: fixed; left: 0; right: 0"
        >
          @for (page of pages; track page.url) {
            <a
              [active]="activeUrl === page.url"
              [routerLink]="page.url"
              mat-tab-link
            >
              <mat-icon>{{ page.icon }}</mat-icon
              >&nbsp;{{ page.name }}
            </a>
          }
        </nav>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
