<ng-container *transloco="let t; read: 'xxx-main'">
  <mat-sidenav-container
    [dir]="directionality"
    style="height: 100vh; padding-top: env(safe-area-inset-top)"
  >
    <mat-sidenav
      #sidenav
      style="
        width: 240px;
        padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom) 0;
      "
      [attr.role]="isSmallViewport ? 'dialog' : 'navigation'"
      [mode]="isSmallViewport ? 'over' : 'side'"
      [opened]="!isSmallViewport"
    >
      <mat-toolbar style="background: inherit" role="heading">{{
        t('app-name')
      }}</mat-toolbar>
      <mat-nav-list [attr.aria-label]="t('navigation-menu')">
        @for (page of pages; track page.url) {
          <a
            matListItemTitle
            [activated]="activeUrl === page.url"
            mat-list-item
            [routerLink]="page.url"
          >
            <mat-icon matListItemIcon>{{ page.icon }}</mat-icon>
            {{ t(page.titleKey) }}
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      @if (loaderConfiguration$ | async; as loaderConfiguration) {
        <mat-progress-bar
          style="position: absolute; top: 0; left: 0; right: 0"
          color="primary"
          aria-hidden="true"
          [ngStyle]="{
            visibility: loaderConfiguration.isVisible ? 'visible' : 'hidden'
          }"
          [mode]="loaderConfiguration.mode"
          [value]="loaderConfiguration.value"
          [bufferValue]="loaderConfiguration.bufferValue"
        >
        </mat-progress-bar>
      }
      <mat-toolbar
        style="
          padding: 0 calc(env(safe-area-inset-right) + 16px) 0
            calc(env(safe-area-inset-left) + 16px);
        "
        role="heading"
      >
        @if (!isSmallViewport) {
          <button
            type="button"
            [matTooltip]="t('navigation-menu')"
            [attr.aria-label]="t('navigation-menu')"
            mat-icon-button
            (click)="sidenav.toggle()"
          >
            <mat-icon>menu</mat-icon>
          </button>
        }
        <div style="flex: 1"></div>
      </mat-toolbar>
      <mat-tab-nav-panel #tabNavPanel>
        <main
          style="
            padding: 0 calc(env(safe-area-inset-right) + 22.5px)
              calc(env(safe-area-inset-bottom) + 120px)
              calc(env(safe-area-inset-left) + 22.5px);
          "
        >
          <router-outlet />
        </main>
      </mat-tab-nav-panel>
      @if (isSmallViewport) {
        <nav
          [attr.aria-label]="t('navigation-menu')"
          mat-tab-nav-bar
          backgroundColor="primary"
          [tabPanel]="tabNavPanel"
          style="
            bottom: 0;
            position: fixed;
            left: 0;
            right: 0;
            padding-bottom: env(safe-area-inset-bottom);
          "
        >
          @for (page of pages; track page.url) {
            <a
              [active]="activeUrl === page.url"
              [routerLink]="page.url"
              mat-tab-link
            >
              <mat-icon>{{ page.icon }}</mat-icon
              >&nbsp;{{ t(page.titleKey) }}
            </a>
          }
        </nav>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
