html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.mat-mdc-snack-bar-container {
  margin: calc(env(safe-area-inset-top) + 8px)
    calc(env(safe-area-inset-right) + 8px)
    calc(env(safe-area-inset-bottom) + 8px)
    calc(env(safe-area-inset-left) + 8px) !important;
}
