@use '@angular/material' as mat;

@include mat.core();

$base: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    typography:
      mat.define-typography-config(
        $font-family: '"Noto Sans", sans-serif',
      ),
  )
);

$dark: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$lime-palette),
      accent: mat.define-palette(mat.$lime-palette),
    ),
  )
);

@include mat.all-component-themes($base);

.dark {
  @include mat.all-component-colors($dark);
}
